@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./login.css);

html{
    background: #fff;
}
body {
    width: 100%;
    margin: 0 auto;
    
   
}
.active {
    color: #0F9D58;
    font-weight: 600;
}